.crear {
  margin-bottom: 10%;
  margin-top: 5%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}
.caja {
  margin-bottom: 20%;
}
.card-body {
  height: 20vh;
}
.addbtn {
  top: 100px;
  right: 50px;
  bottom: 50px;
  left: auto;
  position: fixed;
  margin-bottom: 30%;
}
i.icon-color {
  color: darkgray;
}

.notes{
  padding-bottom: 5rem;
}

.cargando{
  margin: 0 auto;
}
.nota{
  margin-bottom: 2%;
  font-family: 'EB Garamond', serif;
}

.main{
  min-height: 100vh;
  /*background-image: url("./assets/fondo4.jpg");*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valores{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  background-color:   #ecf0f1         ;
  border: 2px solid  #2980b9  ;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}