.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.grid .one {
  /* border-radius: 5%; */
  margin: 1%;
  overflow: hidden;
  overflow-y: auto;
}
.grid .one:hover{
  color: black;
  border-color: darkgray;
}
.crear {
  margin-bottom: 10%;
  margin-top: 5%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}
.caja {
  margin-bottom: 20%;
}
.card-body {
  height: 20vh;
}
.addbtn {
  top: 100px;
  right: 50px;
  bottom: 50px;
  left: auto;
  position: fixed;
  margin-bottom: 30%;
}
i.icon-color {
  color: darkgray;
}
/* .card-body:hover {
  height: 150px;
} */


.notes{
  padding-bottom: 5rem;
}

.cargando{
  margin: 0 auto;
}
.nota{
  margin-bottom: 2%;
  font-family: 'EB Garamond', serif;
  
}

.main{
  position: relative;
  min-height: 100vh;
}