.progreso {
  margin-bottom: 10%;
  margin-top: 1%;
  white-space: nowrap;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}

.heatmap {
  margin-bottom: 3%;
  width: 100%;
  size: 100%;
}

.titulo {
  margin-top: 2%;
  margin-bottom: 2.5%;
  font-size: 4.5vw;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: end;
}

.configuracion{
  padding-bottom: 5rem;
}

.editbtn {
  top: 100px;
  right: 50px;
  bottom: 50px;
  left: auto;
  position: fixed;
}

.main{
  position: relative;
  min-height: 100vh;
}